/* font-family: "RobotoRegularNew" */
@font-face {
  font-family: "RobotoRegularNew";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RobotoRegularStandart" */
@font-face {
  font-family: "RobotoRegularStandart";
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf");
}
@font-face {
    font-family: 'GalaxiePolarisBold';
    src: url('../fonts/PolarisBold/GalaxiePolarisBold.eot');
    src: url('../fonts/PolarisBold/GalaxiePolarisBold.eot') format('embedded-opentype'),
         url('../fonts/PolarisBold/GalaxiePolarisBold.woff2') format('woff2'),
         url('../fonts/PolarisBold/GalaxiePolarisBold.woff') format('woff'),
         url('../fonts/PolarisBold/GalaxiePolarisBold.ttf') format('truetype'),
         url('../fonts/PolarisBold/GalaxiePolarisBold.svg#GalaxiePolarisBold') format('svg');
}
